*{
    margin: 10px;
    line-height: 1.5;
}
h1{
    text-shadow: 5px 5px 5px grey;
}
h2:hover,h3:hover{
    color: red;
}
p{
    font-size: 18px;
    text-indent: 1em;
}
input[type="text"]:hover{
    color: black;
    text-align: left;
    font-size: 18px;
    height: 30px;
    cursor: pointer;
}
input[type="textdoc"]:hover{
    color: black;
    text-align: left;
    font-size: 18px;
    height: 80px;
    cursor: pointer;
}
select[name="help"],option{
    color: black;
    text-align: left;
    font-size: 15px;
    height: 30px;
}
button[type="submit"]:hover{
    color: red;
    background-color: lawngreen;
    width: 50px;
    height: 30px;
}
a:hover{
    color: red;
}
#Image{
    width: 300px;
    height: 300px;
    background: url('Image/รูปตัวเอง.png')no-repeat center/cover;
    box-shadow: 15px 0px 10px grey;
}
table{
    border: 2px;
    width: 100%;
    height: 50%;
}
tr,th,td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.invisible{
    border: 0;
}
.highlight{
    background: yellow;
    padding: 5px;
    width: fit-content;
}
.TextCenter {
    text-align: center;
}
.TextRight {
    text-align: right;
}
.TextLeft {
    text-align: left;
}